table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    margin: 2%;
}
tr, th, td{
    border: 1px solid black;
    height: 25px;
}
th{
    background-color: gray;
}
#voteColumn{
    text-align: center;
}
#pollsLink{
    margin-left: 45%;
}