<h2>Put the question and options here:</h2>
<a id="cancelButton" [routerLink]="['/dashboard']">Cancel</a>
<form #newFormData="ngForm" (submit)="createNew()">
  <span class="errorMessages" *ngIf="question.invalid && question.touched">Question is required and must be at least 8 characters.</span><br>
  Question: <input id="question" type="text" name="question" [(ngModel)]="poll.question" #question="ngModel" required minlength="8"><br>
  <span class="errorMessages" *ngIf="option1.invalid && option1.touched">Option 1 is required and must be at least 3 characters.</span><br>
  Option 1: <input type="text" name="option1" [(ngModel)]="poll.option1" #option1="ngModel" required minlength="3"><br>
  <span class="errorMessages" *ngIf="option2.invalid && option2.touched">Option 2 is required and must be at least 3 characters.</span><br>
  Option 2: <input type="text" name="option2" [(ngModel)]="poll.option2" #option2="ngModel" required minlength="3"><br>
  <span class="errorMessages" *ngIf="option3.invalid && option3.touched">Option 3 is required and must be at least 3 characters.</span><br>
  Option 3: <input type="text" name="option3" [(ngModel)]="poll.option3" #option3="ngModel" required minlength="3"><br>
  <span class="errorMessages" *ngIf="option4.invalid && option4.touched">Option 4 is required and must be at least 3 characters.</span><br>
  Option 4: <input type="text" name="option4" [(ngModel)]="poll.option4" #option4="ngModel" required minlength="3"><br>
  <input id="createButton" type="submit" value="Create Poll" [disabled]="newFormData.invalid"><br>
</form>
